# Compiler files
cache/
out/*
!out/ZenStaker.sol
!out/RewardAccumulator.sol

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/DeployZenStakerTestnet.s.sol/**/*
# Dotenv file
.env

.DS_Store

# Coverage
lcov.info

# IDEs
.vscode
.idea

# Node
node_modules/

# Env
.env
.claude/settings.json
broadcast/*

#frontend
ltzen-frontend/
docs/*
!docs/frontend-integration.md
!docs/explorer-guide.md
!docs/initial_setup.md
!docs/qa-testing-guide.md

#deploy
deploy/

